*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  position: relative;
  font-size: 17px;
}
::after, ::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.slick-prev,
.slick-next {
  width: 50px !important;
  height: 50px !important;
  padding: 0;
  z-index: 3 !important;
  /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1); */

}

.slick-prev {
  left: 0 !important;
}
.slick-prev::before {
  font-size: 50px !important;
  /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1); */
  color: #F78F1E !important;
}

.slick-next {
  right: 0 !important;
}
.slick-next::before {
  font-size: 50px !important;
  /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1); */
  color: #F78F1E !important;



}
#__next{
  background-color: #fafafa;
}

.container {
  width: 90%;
  margin: auto;
}

@media (min-width: 768px ) and (max-width: 1435px) {
  .container {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 1436px ) {
  .container {
    width: 60%;
    margin: auto;
  }
}
img {
  border-radius: 8px;
}
.container1 {
  width: 90%;
  margin: auto;
}

@media (min-width: 768px ) and (max-width: 1435px) {
  .container1 {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 1436px ) {
  .container1 {
    width: 50%;
    margin: auto;
  }
}
img {
  border-radius: 8px;
}
h1 {
  font-size: 27.2px;
}
@media (max-width: 599px) {
  h1 {
    font-size: 22.4px;
  }
}

.MuiButtonBase-root  {
  text-transform: unset;
}